@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P';
    color: #eee;
    background-color: #221;   
}

.button {    
    font-family: inherit;  
    margin-top: 20px;
    margin-bottom: 20px;  
    padding: 10px;
    border-radius: 0.5rem;
    cursor: pointer;    
    margin-left:5%;
    margin-right:5%;  
    width: 20%;
}

.hidden { 
    display: none;
}

#buttonContainer{
    margin: auto;
    width: 50%;
}

.logs {
    text-align: left;    
    width: 50%;
    font-size: 80%;
    margin: auto;
    padding-top: 20px;
}

hr{
    border: 1px solid white;
    margin: auto;
}

.stopWatchDisplay {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;    
    border: 2px solid white;
    border-radius: 10px;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 120%;
}